{"filter":false,"title":".htaccess","tooltip":"/scheduler/public/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":21,"column":0},"end":{"row":21,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":true,"wrapToView":true},"firstLineState":0},"timestamp":1537668217482,"hash":"70f4ed8db3fce35c1283242e90e880acb9a2aa20"}